:root {
    --primary-color: #0385FD;
    --secondary-color: #00CC99;
    --default-border-radius: 5px;
    --danger-color: #C90808;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}